<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>@ViewData["Title"] - Abdul_Portfolio</title>
	<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
	<link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
	<link rel="stylesheet" href="~/Abdul_Portfolio.styles.css" asp-append-version="true" />
	<link rel="stylesheet" href="~/css/site.css" />
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-papLeTXSpDEgVx9+nUheWntqw1/np62Pe+0CFik39y3Js/7twcXkH1O6gZzFz5E8b16G9EW3Z7rsA10P0D+XAw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
	<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet" />
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" />


</head>
<body>
	<header>
		<nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
			<div class="container-fluid">
				<a class="navbar-brand" asp-controller="Portfolio" asp-action="Index">MyPortfolio</a>
				<div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
					<ul class="navbar-nav flex-grow-1">
						<li class="nav-item">
							<a class="nav-link text-dark" asp-controller="Portfolio" asp-action="Index">Home</a>
						</li>
						<li class="nav-item">
							<a class="nav-link text-dark" asp-controller="Portfolio" asp-action="About">About</a>
						</li>
						<li class="nav-item">
							<a class="nav-link text-dark" asp-controller="Portfolio" asp-action="Projects">Projects</a>
						</li>
						<li class="nav-item">
							<a class="nav-link text-dark" asp-controller="Portfolio" asp-action="Blog">Blog</a>
						</li>
						<li class="nav-item">
							<a class="nav-link text-dark" asp-controller="Portfolio" asp-action="Contact">Contact</a>
						</li>
					</ul>
				</div>

	</header>
	<div class="container">
		<main role="main" class="pb-3">
			@RenderBody()
		</main>
	</div>

	<footer class="border-top footer text-muted">
		<div class="container">
			&copy; 2025 - Abdul_Portfolio - <a asp-area="" asp-controller="Portfolio" asp-action="Index">Index</a>
			<div class="social-icons mt-2">
				<a href="https://github.com/yourname" target="_blank" class="text-white me-3"><i class="fab fa-github fa-lg"></i></a>
				<a href="https://twitter.com/_realAbdul	" target="_blank" class="text-white"><i class="fab fa-twitter fa-lg"></i></a>
			</div>

		</div>
	</footer>
	<script src="~/lib/jquery/dist/jquery.min.js"></script>
	<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
	<script src="~/js/site.js" asp-append-version="true"></script>

	@await RenderSectionAsync("Scripts", required: false)
</body>
</html>
